langgraph>=0.1.0
langchain
openai
chromadb
tiktoken
sentence-transformers
fastapi
uvicorn
python-dotenv
pydantic
langchain-openai
sqlalchemy
langchain_community
streamlit
presidio_analyzer
presidio_anonymizer
spacy
bcrypt
